.portfolios {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}

.portfolios-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.portfolios-heading-title {
  color: #ffd700;
  font-size: 30px;
}

.portfolios-heading-btn {
  margin-right: 10px;
  padding: 14px 20px;
  background-color: #ffd700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.portfolios-heading-btn:hover {
  background-color: #f7e377;
}

.portfolios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 32px;
}

.portfolios-portfolio {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(255, 215, 0, 1);
  display: flex;
  align-items: center;
  padding: 24px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  transition: all 300ms ease;
}

.portfolios-portfolio:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 6px rgba(255, 215, 0, 0.6);
}

.portfolios-text {
  flex: 1;
}

.portfolios-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #ffd700;
}

.portfolios-subtitle {
  font-size: 16px;
  margin-bottom: 4px;
  color: #ddd;
}

.portfolios-img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 24px;
}

.portfolios-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.portfolios-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.portfolios-modal {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  color: #fff;
}

.portfolios-modal-title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffd700;
  text-align: center;
}

.portfolios-modal-content {
  margin-bottom: 20px;
}

.portfolios-modal-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.portfolios-modal-input:focus {
  outline: none;
  border-color: #ffd700;
}

.portfolios-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.portfolios-modal-save-button,
.portfolios-modal-cancel-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.portfolios-modal-save-button {
  background-color: #ffd700; 
  color: black;
}

.portfolios-modal-save-button:hover {
  background-color: #f7e377;
}

.portfolios-modal-cancel-button {
  background-color: #e74c3c; 
  color: white;
}

.portfolios-modal-cancel-button:hover {
  background-color: #aa2929;
}